* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #000;
}

/* header + navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 220px;
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #191919;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  font-size: 18px;
  transition: 0.3s;
}

.designer {
  padding-left: 7px;
}

.logo span {
  color: #878787;
  font-weight: 400;
  font-size: 15px;
}

.navbar a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 550;
  color: #d1d0d0;
  margin-left: 20px;
  transition: 0.1s;
}

.navbar a:hover {
  color: #ffffff;
}

/* Eren */
.div_eren {
  margin: 190px 80px 100px 220px;
  width: 550px;
}

.div_eren h1 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

h1 span {
  color: #959494;
}

/* selected */
.selected h2 {
  color: #3f3f46;
  font-weight: 450;
  font-size: 18px;
}

.selected {
  margin: 90px 80px 60px 220px;
  display: flex;
}

.line {
  background-color: #1a1a1a;
  height: 0.5px;
  width: 75%;
  left: 0;
  margin: auto 14px auto 24px;
}

.logobaba {
  width: 35px;
  max-width: 70px;
  /* margin: 0px auto; */
}

.divimg1 {
  padding-right: 15px;
}

.divwork1 {
  background-color: rgb(168, 173, 173);
  display: flex;
  max-width: 1024px;
  margin: 20px auto;
}

.span_year {
  display: inline;
}

.headline {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 10px 20px 100px 180px;
  max-width: 1100px;
}

.headbaba {
  font-size: 22px;
  font-weight: 700;
}

.headbaba a {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.headline p {
  font-size: 16px;
  color: #a1a1aa;
  font-weight: 400;
  padding-top: 12px;
  margin-left: 40px;
  margin-top: 6px;
}

.yearspan {
  width: 80px;
  margin-left: 14px;
}

.yearspan:hover {
  cursor: help;
}

.spanforhead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmore a {
  color: #efeeee;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  margin-left: 700px;
}

.readmore a:hover {
  text-decoration: underline;
}

.logocurate {
  width: 28px;
  margin-right: 10px;
}

/* img */

.workimg {
  background-color: #111113;
  margin-top: 24px;
  margin-left: 40px;
  max-width: 1024px;
}

.bigimg {
  width: 1020px;
  margin-left: 3px;
}

/* waitlist */
.border-bottom {
  border-bottom: 1px solid #1c1c1c;
  height: 1px;
  /* background-color: aqua; */
  display: block;
  margin-top: 25px;
}

.border-top {
  border-bottom: 1px solid #1c1c1c;
  height: 1px;
  /* background-color: aqua; */
  display: block;
  margin-bottom: 25px;
}

.waitlist {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  margin-top: 130px;
  max-width: 1024px;
}

.waitlist h2 {
  color: #fff;
  margin-top: 75px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.waitlist p {
  color: #a1a1aa;
  font-size: 15px;
  margin-bottom: 35px;
  line-height: 24px;
}

/* Button on top of the Input */
.wrapper {
  width: 1024px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(44, 44, 44);
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 15px;
  cursor: text;
  transition: 0.2s;
  color: #fff;
}

.wrapper button {
  background: white;
  border-radius: 90px;
  aspect-ratio: 1;
  height: 80%;
  cursor: pointer;
  border: 2px solid #cac9c9;
  position: absolute;
  top: 10%;
  right: 5px;
  transition: 0.2s;
}

input:focus {
  outline: none !important;
  border-color: #3d3d3e;
}

button:hover {
  background-color: #f3f0f0;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(80px, auto);
  margin-right: 220px;
  margin-left: 220px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.one {
  background-color: #000;
}

.one h3 {
  color: #fff;
  font-weight: 550;
  font-size: 17px;
  margin-bottom: 8px;
}

.one p {
  color: #a1a1aa;
  font-size: 15px;
}

.one img {
  width: 28px;
  margin-top: 15px;
}

@keyframes rotation {
  0% {
    transofrm: rotate(360deg);
  }
}

.one img:hover {
  transform: rotate(180deg);
}

.two {
  background-color: rgb(0, 0, 0);
}

.three {
  background-color: rgb(0, 0, 0);
}

.four,
.five {
  background-color: rgb(0, 0, 0);
  margin-left: 100px;
}

.four h3,
.five h3 {
  color: #fff;
  font-size: 17px;
  font-weight: 580;
  margin-bottom: 14px;
}

.four a,
.five a {
  display: block;

  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #6a6a6a;
  margin-bottom: 12px;
  transition: 0.4s;
}
.four a:hover,
.five a:hover {
  color: #aba9a9;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  border-top: 1px solid #1c1c1c;
  margin-bottom: 25px;
  margin-top: 50px;
}
.copyright h3 {
  color: #3d3d3e;
  font-size: 14px;
  font-weight: 450;
  text-align: center;
  margin-top: 55px;
}

/* about */

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(80px, auto);
  margin-right: 220px;
  margin-left: 220px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(80px, auto);
  margin-right: 220px;
  margin-left: 220px;
  margin-top: 90px;
  margin-bottom: 80px;
}

div.grid-two {
  gap: 140px;
}

.turkoglu {
  width: 500px;
  margin: 25px 225px 5px 225px;
  padding-top: 30px;
}

.turkoglu h1 {
  margin-top: 65px;
  color: #fff;
  font-size: 30px;
  font-weight: 620;
}

.eren {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(80px, auto);
  margin: 10px 220px 80px 220px;
}

.one_eren h1 {
  color: #fff;
  /* width: 200px; */
  font-weight: 600;
  font-size: 25px;
}

.two_eren {
  margin-left: 25px;
}

.two_eren h2 {
  color: #fff;
  margin-bottom: 19px;
  font-size: 20px;
  font-weight: 600;
}

.two_eren p {
  width: 450px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(161, 161, 170);
  line-height: 22px;
}

.four_eren,
.five_eren {
  float: right;
  padding-left: 35px;
}

.four_eren a,
.five_eren a {
  display: block;
  color: #f5efef;
  text-decoration: none;
  margin-bottom: 15px;
}

.four_eren a:hover,
.five_eren a:hover {
  text-decoration: underline;
  font-size: 16px;
}

.four_eren h3,
.five_eren h3 {
  color: #fff;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
}

/* img head */
.abi {
  width: 200px;
  border-radius: 90%;
}

/* .radius  */

.radius {
  border-radius: 90px;
  border: 1px solid #1c1b1b;
  padding-left: 10px;
  padding-right: 10px;
  padding: 2px 8px 2px 8px;
  background-color: #1c1c1c;
  color: #b6b4b4;
}
.radius:hover {
  cursor: help;
}

/* ABOUT EXP */
.one_eren_xp h2 {
  color: #fff;
  /* width: 200px; */
  font-weight: 600;
  font-size: 19px;
}

.two_eren_xp {
  width: 500px;
}

.two_eren_xp h2 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.two_eren_xp {
  color: #fff;
  font-size: 15px;
}

.two_eren_xp .words-2 {
  margin-top: 35px;
}

.now {
  color: #45a14a;
}

.margintop-two {
  margin-top: 5px;
  border-bottom: 2px solid #1a1a1a;
}

.marginp {
  margin-top: 16px;
  margin-bottom: 35px;
  color: rgb(161, 161, 170);
  font-size: 15px;
}

/* section quote */
.quote h3 {
  color: rgb(113, 113, 122);
  font-size: 19px;
  font-weight: 560;
  line-height: 25px;
}

.quote {
  width: 600px;
  margin: 150px 220px 150px 220px;
}

/* essays.html */
.full_div {
  /* background-color: #45a14a; */
  margin-top: 130px;
  margin-left: 220px;
  margin-right: 220px;

  width: 1010px;
  height: 700px;
}

.full_div h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  position: block;
}

.essays_name {
  margin-top: 50px;
}
.essays_name a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 480;
  font-size: 17px;
  line-height: 3rem;
}
/* archive.html */

/* feed.html */
